.gradle/
build/
!src/forge1710/java/local/freecaminteraction/blueprint/build/
!src/forge1710/java/local/freecaminteraction/blueprint/build/**
run/
run-lwjgl3ify/
logs/
.idea/
*.iml
.classpath
.project
.settings/
bin/
asm/
saves/
